In [3]:
import pandas as pd
from statsmodels.robust.scale import mad

In [4]:
state = pd.read_csv('C:/Users/cswoo/data/state.csv')

In [5]:
state.head(8)

         State  Population  Murder.Rate Abbreviation
0      Alabama     4779736          5.7           AL
1       Alaska      710231          5.6           AK
2      Arizona     6392017          4.7           AZ
3     Arkansas     2915918          5.6           AR
4   California    37253956          4.4           CA
5     Colorado     5029196          2.8           CO
6  Connecticut     3574097          2.4           CT
7     Delaware      897934          5.8           DE

In [6]:
# 표준편차
state['Population'].std()

6848235.347401142

In [10]:
# 사분위범위(IQR)
state['Population'].quantile(0.75) - state['Population'].quantile(0.25)

4847308.0

In [11]:
# 중위절대편차(MAD)
mad(state['Population'])

3849876.1459979336